VITE_MANIFEST=@webroot/dist/.vite/manifest.json
VITE_ERROR_ENTRY=src/entrypoint.ts
VITE_DEV_SERVER_PUBLIC=${DDEV_PRIMARY_URL}:5173
VITE_SERVER_PUBLIC=${PRIMARY_SITE_URL}/dist/
VITE_DEV_SERVER_INTERNAL=http://localhost:5173